################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.vsidx
/.vs/scheduler/v17
/.vs
